.goods-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.card__type {
  font-size: 20px;
  font-weight: 400;
}

.card-reveal {
  padding: 0 !important;
}

.card-reveal__wrap {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px;
  font-size: 22px;
}

.card__price {
  font-size: 22px;
  font-weight: bold;
}

.card__button {
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  color: #fff;

  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  background-color:rgba(255, 0, 79, 1);
}

.card__button:hover,
.card__button:focus {
  color: rgba(255, 255, 255, 0.7);
  background-color:rgba(255, 0, 79, 0.8);
}
